{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    {% block addstyle %}{% endblock addstyle %}
  </head>
  <body class="is-preload dark">
    <div id="page-wrapper">
      <header id="header">
        <h1><a href="#">SBFS</a></h1>
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            {% block services %}
            <li><li>
					<a href="#" class="icon solid fa-angle-down">Services</a>
					<ul>
						{% if request.session.role == 'admin' %}
					<li>
						<a href="/managenfc/">
							Manage NFC Applications
						</a>
					</li>
          <li>
						<a href="/managefaresystem/">
							Manage Fare System
						</a>
					</li>
					<li>
						<a href="/managelostcard">
							Manage Lost/Stolen Cards
						</a>
					</li>

					<li>
						<a href="/all_travel_history/">
							Travel History
						</a>
					</li>
						{% else %}
						<li><a href="/student_wallet/">View Balance</a></li>
						<li><a href="/nfcview/">View my NFC Card</a></li>
						<li><a href="/recharge_wallet/">Recharge Wallet</a></li>
            <li><a href="https://shuhaibnc.github.io/pay/gateway" target="_blank">Add Balance</a></li>
						<li><a href="/travel_history/">My Travel History</a></li>
						<li><a href="/receipt_downloader/">Download Receipts</a></li>
						<li><a href="/getrefund/">Get Refund</a></li>
						<li><a href="/block_card/">Block Lost Card</a></li>
						{% endif %}
					</ul>
				</li>
        {% endblock services %}
            <li>{% block status %}<a href="/" class="button">Logout</a>{% endblock %}</li>
            <li>{% block extranav %}{% endblock extranav %}</li>
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <section id="main" class="container">
        {% block header %}
        <header>
          <h2>Title</h2>
          <p>Title description.</p>
        </header>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

  </body>
</html>
