{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
  </head>
  <body class="is-preload dark">
    <div id="page-wrapper">
      <header id="header">
        <h1><a href="#">SBFS</a></h1>
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><li>
					<a href="#" class="icon solid fa-angle-down">Services</a>
					<ul>
						<li><a href="generic.html">Student Services</a></li>
						<li><a href="contact.html">Support</a></li>
						<li><a href="elements.html">System Overview</a></li>
						<li>
							<a href="#">Modules</a>
							<ul>
								<li><a href="#">NFC Card System</a></li>
								<li><a href="#">Wallet Management</a></li>
								<li><a href="#">Cloud Sync</a></li>
								<li><a href="#">Admin Control</a></li>
							</ul>
						</li>
					</ul>
				</li>
            <li>{% block status %}<a href="#" class="button">Logout</a>{% endblock %}</li>
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <section id="main" class="container">
        {% block header %}
        <header>
          <h2>Title</h2>
          <p>Title description.</p>
        </header>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

  </body>
</html>
