{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block status %}<a href="/" class="button">Login</a>{% endblock %}

{% block header %}
<header>
  <h2>SIGN UP</h2>
  {% if info %}
  <p class="info">{{ info }}</p>
  {% else %}
  <p>Register Form for Student</p>
  {% endif %}
  <style>
    div{
      margin:10px;
    }
    .info {
    border: 1px solid var(--success);
    color: var(--success);
    border-radius: 9px;
}
  </style>
</header>
{% endblock %}
{% block content %}
<div class="row aln-center">
<div class="col-7">
  <form method="post" class="form">
    {% csrf_token %}

    <div class="field">
      <label for="first_name">First Name</label>
      <input type="text" name="firstname" id="first_name" placeholder="John" required>
    </div>

    <div class="field">
      <label for="last_name">Last Name</label>
      <input type="text" name="lastname" id="last_name" placeholder="Doe" required>
    </div>

    <div class="field">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="john" required>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="john@example.com" required>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="•••••••••••" required>
    </div>

    <div class="field">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="•••••••••••" required>
    </div>
<div>
    <button type="submit" class="button primary">Sign Up</button>  <p>{{ info }}</p>
    <p class="note">
      Already have an account?
      <a href="/">Login</a>
    </p>
  </form>
</div>
</div>
{% endblock %}
