{% extends "base.html" %}
{% load static %}
{% block title %}Admin login{% endblock title %}
{% block services %}{% endblock services %}
{% block status %}<a href="/" class="button">Student Login</a>{% endblock %}
{% block header %}{% endblock header %}

{% block content %}

<section id="main" class="container">
    <section class="box" style="max-width: 420px; margin: auto;">
        <header class="major">
            <h2>Admin Login</h2>
            {% if info %}
            <p>{{ info }}</p>
            {% else %}
            <p>Admin access only</p>
            {% endif %}
        </header>

        <form method="post">
            {% csrf_token %}

            <div class="row gtr-uniform gtr-50">
                <div class="col-12">
                    <input 
                        type="text" 
                        name="username" 
                        placeholder="AdminID" 
                        required
                    />
                </div>

                <div class="col-12">
                    <input 
                        type="password" 
                        name="password" 
                        placeholder="Password" 
                        required
                    />
                </div>
                <div class="col-12">
                    <input 
                        type="submit" 
                        value="Login as Admin" 
                        class="primary fit"
                    />
                </div>
            </div>
        </form>
    </section>

</section>

{% endblock content %}
