{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/wallet.css' %}">

<div class="wallet-page box">

    <h2 class="wallet-title"> NFC Wallet</h2>


    <!-- NFC CARD -->
    <div class="nfc-card {% if card.balance < 100 %}low{% else %}healthy{% endif %}">

        <!-- NFC watermark -->
        <div class="nfc-watermark">NFC</div>

        <!-- NFC RANGE ICON -->
        <div class="nfc-range">
            <span class="arc arc1"></span>
            <span class="arc arc2"></span>
            <span class="arc arc3"></span>
        </div>

        <!-- CARD CONTENT -->
        <div class="nfc-content">

            <h3>{{ request.session.username }}</h3>
            <p class="system-name">Smart Bus Fare System</p>


            <div class="balance-row">
                <div>
                    <span class="label">Balance</span>
                    <span class="amount">₹ {{ card.balance }}</span>
                </div>

                <div class="status">
                    {% if card.balance < 100 %}
                        <span class="low-balance">LOW</span>
                    {% else %}
                        <span class="ok-balance">HEALTHY</span>
                    {% endif %}
                </div>
            </div>

            <!-- CARDHOLDER NAME -->
            <p class="cardholder-name">
                {{ user.username|upper }}
            </p>

        </div>
    </div>

    <p class="min-info">Minimum balance required: ₹100</p>

    {% if card.balance < 100 %}
        <p class="warning">Recharge required to continue travel</p>
    {% endif %}

    <div class="wallet-actions">
        <a href="/transactions/" class="button primary">
            View Transactions
        </a>
    </div>

</div>

{% endblock content %}
